@charset "utf-8";
/* CSS Document */

/*ID selectors*/

#Banner {
	text-align:center;
	font-size: 60px;
	font-family: Constantia, Lucida Bright, DejaVu Serif, Georgia, serif;
	color: #976E6F;
	background-image: url(../images/book-fair-678264_1280.jpg);
	height: 100px;
	width: 100%;
	margin-top:40px;
}
#Nav_Bar {
	text-align: center;
	background-color: #FFFCFC;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:24px;
}
#Main_content {
	font-size: 14px;
	text-align: left;
	font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
	border:thin;
}
#Footer {
	text-align:center;
	font-size:9px;
	margin-top: 360;

}
Body {
	margin-bottom: 50px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 0;
	background-image:url(shirt_pattern_design_by_rahul964.png);
	background-color: #FFFFFF;
	color: #FF625D;
}
