@charset "UTF-8";
/* CSS Document */

/*ID selectors*/


#Banner {
	text-align:center;
	font-size: 60px;
	font-family:Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana," sans-serif";
	color: black;
	height: 100px;
	width: 100%;
	margin-top:40px;
	
}
#Nav_Bar {
	text-align: center;
	background-color: #F8E5ED;
	font-family:Tahoma,Arial,sans-serif;
	font-size:24px;
	color:black;
	
}

.middle_nav {
	text-align: center;
}
#Main_content {
	font-size: 14px;
	font-family: Tahoma,Arial,sans-serif;
}

#Footer {
	text-align:center;
	font-size:9px;
	margin-top: 560px;
	float: bottom;
}

Body {
	background-color: #FFFFFF;
	color: black;
	background-image: url(../images/background_new.png);
}

#Nav_bar2 {
	background-color: #F8E5ED;
	font-size:14px;
	font-family:Tahoma,Arial,sans-serif;
	float: bottom;
	
}

footer {
	background-color: #F8E5ED;
	font-size:12px;
	font-family:Tahoma,Arial,sans-serif;
	float: bottom;
	
}	
	


#title {
	text-align: center;
	font-size: 50px; 
	border:solid black;
	background-color: #F8E5ED;
	margin-top: 50px;
	font-family:Tahoma,Arial,sans-serif;
	margin-right:100px;
	margin-left: 100px;
}


/*class*/


	

.navbar-header {
	float: center;
	position: absolute;
}	

.logo {
	text-align: center;
	margin-right:50%;
	margin-left: 400px;
	margin-bottom: none;
	margin-top: none;
}

.banner_margin {
	margin-left: 200px
}

.font_homepage {
	font-size: 22px;
	font-family:Tahoma,Arial,sans-serif;
	background-color: #F8E5ED;	
}

.font_sellers {
	font-size: 24px;
	font-family:Tahoma,Arial,sans-serif;
	background-color: #F8E5ED;
	
}

.gif {
	text-align: center;
}



.font_products {
	font-size: 18px;
	font-family:Tahoma,Arial,sans-serif;
	color: black;
	background-color: #F8E5ED; 
	text-align: center;
	margin-left:50px;
	margin-top: 60px;
}

.menu {
	margin-left: 210px;
	margin-top:60px;
	
}

.menu_products {
	margin-left: 320px;
}

.all_products {
	font-family:Tahoma,Arial,sans-serif;
	font-size: 18px;
	color: #6E4E09;
}

.backto {
	text-align: right;
	font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Arial Black," sans-serif";
	font-size: 16px;
	color: #736667;
}


.item_title {
	font-family: Tahoma,Arial,sans-serif;
	font-size: 25px;
	color: black;
}

.margin_product {
	margin-left: 270px;
}

.menu_boder {
	border-top: 15px;
}

.faqs_title {
	text-align: center;
	font-size: 40px;
}

.faqs_maincontent {
	background-color: #F8E5ED;
	font-family:Tahoma,Arial,sans-serif;
	font-size: 18px;
	border:dotted black;
	margin-left: 150px;
	margin-top: 40px;
	margin-right: 150px;
	padding: 20px;
                
}

.faq_table {
	margin-left: 110px;
	font-size: 20px;
                
}

.contact {
	font-family: Tahoma,Arial,sans-serif;
	font-size: 18px;
	color: #736667;
	background-color: #F8E5ED; 
}	

.events {
	background-color: #F8E5ED;
	font-family: Tahoma,Arial,sans-serif;
	font-size: 18px;
	text-align:center;
	border:dotted black;
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 40px;
	padding: 20px;
	
}

.product_price {
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: 2.8px;
    font-family:"Flama Condensed Medium",sans-serif;
    font-style: normal;
    font-weight: 700;
    color: black;
    padding-right: 5px;
}


.linkcolor {
	color:black;
}

.picture_borders {
	font-size: 15px;
}

.dotted_line{
  border-bottom: dotted black;
  width: 1100px;
	margin-top:20px;
	margin-bottom: 20px;
} 

.index_maincontent {
	background-color: #F8E5ED;
	font-family: Tahoma,Arial,sans-serif;
	font-size: 18px;



